[submodule "caracal/felis"]
	path = caracal/felis
	url = https://github.com/Scofield626/felis.git
[submodule "caracal/felis-controller"]
	path = caracal/felis-controller
	url = https://github.com/Scofield626/felis-controller.git
[submodule "doradd"]
	path = doradd
	url = https://github.com/Scofield626/doradd.git
[submodule "doradd-server"]
	path = doradd-server
	url = https://github.com/doradd-rt/doradd-server
[submodule "caladan"]
	path = caladan
	url = https://github.com/doradd-rt/caladan
